<div class="row">
  <div class="col-md-4">
    <app-product-list
    [products]="products$ | async"
    [isCodeVisible]="isCodeVisible$ | async"
    [selectedProductId]="selectedProductId$ | async"
    [errorMessage]="errorMessage$ | async"
    (checked)="onChecked($event)"
    (initializeNewProduct)="onNewInitialize()"
    (selected)="onProductSelected($event)"
    >
    </app-product-list>
  </div>

  <div class="col-md-8">
    <app-product-edit></app-product-edit>
  </div>
</div>
