<div class="card" *ngIf="product$ | async">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <app-product-form [product]="product$ | async" (save)="onSave($event)"  (cancel)="onCancel($event)" (delete)="onDelete($event)"
    (showError)="onError($event)"></app-product-form>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
