<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body" *ngIf="products">
    <div class="list-group">
      <button
        class="list-group-item list-group-item-action rounded-0"
        *ngFor="let product of products"
        [ngClass]="{ active: product?.id === selectedProductId }"
        (click)="onSelected(product)"
      >
        {{ product.productName }}
        <ng-container *ngIf="isCodeVisible">
          ({{ product.productCode }})
        </ng-container>
      </button>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="form-check col-md-7">
        <label>
          <input
            class="form-check-input"
            type="checkbox"
            (change)="onChecked($event.target.checked)"
            [checked]="isCodeVisible"
          />
          Display Product Code
        </label>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-primary" (click)="onInitializeNewProduct()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
